<h1>Tasks List</h1>

<% if @task.errors.any? %>
  <p>Task could not be saved:</p>
  <% @task.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %> 

<div class='form'>
  <%= form_for @task do |f| %>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :priority %>
      <%= f.text_field :priority %>
    </p>
    <p>
      <%= f.submit "Add Task" %>
    </p>
  <% end %>
</div>

<table>
  <tr>
    <td>Description</td>
    <td>Priority</td>
    <td>Completed?</td>
    <td>Date completed</td>
  </tr>
  <% if @tasks.any? %>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.description %>
        </td>
        <td>
          <%= task.priority %>
        </td>
        <td>
        <% if task.completed %>
          <p>Yes</p>
        <% else %>
          <p>No</p>
        <% end %>
        </td>
        <td>
          <% if task.date_completed %>
            <%= task.date_completed.strftime("%m/%d/%Y") %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Mark Complete', task_path(task), method: :put %>
        </td>
        <td>
          <%= link_to 'Delete', task_path(task), method: :delete %>
        </td>
      </tr>  
    <% end %>
  <% end %>
</table>

<script id="entry-template" type="text/x-handlebars-template">
  <tr class='entry'>
    <td>{{description}}</td>
    <td>{{priority}}</td>
    <td><p>No</p></td>
    <td></td>
    <td><a rel="nofollow" data-method="put" href="/tasks/{{id}}">Mark Complete</a></td>
    <td><a rel="nofollow" data-method="delete" href="/tasks/{{id}}">Delete</a></td>
  </tr>
</script>